.title {
	font-family: 'Roboto Slab';
	color: $basegrey;
	font-weight: 700;

	&_white {
		color: #fff;
	}

	&_small {
		font-size: 18px;
	}

	&_xlarge {
		font-size: 54px;

		@media only screen and (max-width: 1200px) {
			font-size: 50px;
		}

		@media only screen and (max-width: 768px) {
			font-size: 30px;
		}

		@media only screen and (max-width: 640px) {
			font-size: 20px;
		}
	}
}